<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806618056066-rms9l387s941h37fpe3kdhro99n38ofv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806618056066-rms9l387s941h37fpe3kdhro99n38ofv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806618056066-e8etj5nejdtnc29rncvgiqd6mpj0jnpa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxgMFNByCE7y__r5mJhg3RkselbJ9BxsM</string>
	<key>GCM_SENDER_ID</key>
	<string>806618056066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hjy2885-naver.com</string>
	<key>PROJECT_ID</key>
	<string>hisfinder-test-2c1b3</string>
	<key>STORAGE_BUCKET</key>
	<string>hisfinder-test-2c1b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806618056066:ios:c50b099d647673f721fb9b</string>
</dict>
</plist>